.card-wrapper {
    padding: 5px;
}
.card-wrapper .card {
    max-width: 275px;
}
.card-wrapper .card .card-body .card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-wrapper .card .card-body .simple-text{
    margin: 2px;
    font-size: 12px;
}
.required:after {
    display: inline-block;
    position: absolute;
    padding-left: 3px;
    margin-top: -5px;
    font-weight: bold;
    content: '*';
    color: red;
}
