<div class="row">
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Total: <?= $data['total_price']?></h5>
                    </div>
                    <div class="col text-right">
                        <a href="#" class="btn btn-success">Buy</a>
                        <a href="#" class="btn btn-danger">Clear cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="row">
            <?php foreach ($data['items'] as $item ): ?>
                <!-- building the path to component starting from index.php because catalog.php will be loaded to index.php -->
                <?php require('./views/components/item-card.php') ?>
            <?php endforeach; ?>
        </div>
    </div>
</div>
